<div class="footer">
	<div class="link">
	  <div class="container">
		<a href=""><img src="resource/img/lubansoft.png" alt="" /></a>
		<a href=""><img src="resource/img/lubantong.png" alt="" /></a>
		<a href=""><img src="resource/img/lubanzixun.png" alt=""  /></a>
		<a href=""><img src="resource/img/yangbaomingshuo.png" alt=""/></a>
	  </div>
	</div>
	<div class="address">
		<span >地址：上海市杨浦区五角场淞沪路433号创智天地(西区)6号楼3楼(靠近政学路口)</span>
		<span>E-mail:bd@banshi.com.cn</span>
		<span>沪ICP备09024855</span>
	</div>
</div>
