<div class="nav-top">
	<div class="container">
	   <div class="pull-left">
		 <a href="" class="ico weibo"></a>
		 <a href="" title="微信" class="ico weixin" popover-directive> </a>
	   </div>
	   <div class="pull-right">
	   	  <div class="phone"><span><i class="ico ico-phone"></i><span class="phonenum">4000-021-0106</span>
	   	   <i class="line"></i>
	   	  </span>
	   	  </div>
	   	  <div class="user"><span><span class="name">系统开发：贾吉祥</span><i class="line" style="    margin-top: 2px;"></i></span></div>
	   	  <a class="ico exit" id="exit"></a>
	   </div>
	</div>
</div>
<div class="nav-bottom">
	<div class="container">
	   <div>
		<div class="pull-left table-cell">
			<a href="" id="logo">
				<h1><img src="resource/img/logo.png" alt="鲁班咨询" style="width:172px;"></h1>
			</a>
		</div>
		<div class="pull-right table-cell">
			<h3>总包方PPP整体解决方案专家</h3>
		</div>
		</div>
	</div>
</div>